@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@500;600&family=Zilla+Slab:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@500;600&family=Zilla+Slab:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary-100:#00BFFF;
    --primary-200:#00a2e0;
    --primary-300:#00619a;
    --accent-100:#00FFFF;
    --accent-200:#00999b;
    --text-100:#000000;
    --text-200:#8C8C8C;
    --bg-100:#F2F7FF;
    --bg-200:#e8edf5;
    --bg-300:#bfc4cc;
    --bg-50:#f5f5f5;
    --bg-25: #f7f9fa;
}

html{
    scroll-behavior: smooth;
}

.primary-200{
    color: var(--primary-200);
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.poppins-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.zilla{
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
}

.bg-50{
    background-color: var(--bg-50);
}

.bg-200{
    background-color: var(--bg-200);
}

.bg-primary-300{
    background-color: var(--primary-300);
}

.primary300{
    
    color: var(--primary-300);
    
}

/*MENU*/

.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 1;
}

.navbar a{
    text-decoration: none;
    color: var(--text-100);
    font-weight: 500;
}

.market-car-img{
    width:50px;
    border-radius: 25%;
    padding: 5px;
    background-image: linear-gradient(to right, var(--primary-100), var(--primary-200), var(--primary-300)) ;
}

.divBusca{
    background-color: var(--bg-200);
    border: solid 1px black;
    border-radius:30px;
    width:400px;
}

.divBusca img{
    width: 30px;
    cursor: pointer;
}

.search{
    background-color: transparent;
    border: none;
    height: 50px;
    text-align: center;
}

.icon-x{
    background-color: transparent;
    border: none;
    width: 30px;
}

.underline{
    position: relative;
}
  
.underline::before{
    content: '';
    position: absolute;
    bottom: -2.90px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-200);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
  
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
} 

img {
	max-width: 100%;
	display: block;
}


.icon-header{
    border: none;
    background-color: transparent;
    margin-top: 12.5px;
    cursor: pointer;
}


.hidden{
    display: none;
}

@media screen and (max-width: 700px) {
    .navigation-bar{
        position: absolute;
        top: 0;
        background-color: var(--bg-50);
        height: 100vh;
        padding: 1em;
        animation-duration: 0.5s;
        margin-left: -100vw;
        border-radius: 0 50px 50px 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

@keyframes menu-collapse {
    from {margin-left: -100vw}
    top {margin-left: 0vw};
}
@keyframes menu-hidden{
    from {margin-left: 0vw}
    top {margin-left: -100vw};
}

/*BANNER*/

.banner{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(../img/ban01.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: left;
    color: #fff;
    z-index: -1;
    
}



/*ABA DE CURSOS RECOMENDADOS*/

.card-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-slider-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
}
  
.card {
    background-color: #ffffff;
    height: 375px;
    flex: 0 0 300px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
}
  
.card-image {
    width: 100%;
    height: auto;
}

.card-image img{
    border-radius: 15px;
}

.card-header {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
    font-family: "Lexend", sans-serif;
    cursor: pointer;

}

.card-header a{
    font-weight: 500;
	font-size: 1.250rem;
	line-height: 1.25;
	padding-right: 1rem;
	text-decoration: none;
}


 .card-footer {
	margin-top: 1.25rem;
	border-top: 1px solid #ddd;
	padding-top: 1.05rem;
    font-family: "Lexend", sans-serif;
    color: var(--text-200);
} 

.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 30px;
    transition: all 0.3s;
    fill: #a8a8a8;
}
  
.container svg:hover {
    transform: scale(1.1);
}
  
.container input:checked ~ svg {
    fill: rgb(239, 83, 83);
}

.icon img{
    width: 70px;
    background-color: var(--primary-100);
    border-radius: 50%;
    margin: 10px;
}

.card-slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    z-index: 0;
}
  
.card-slider-control {
    border: none;
    padding: 0 10px;
    
    cursor: pointer;
}


.arrow-left{
    transform: rotate(180deg);
}

.prev, .next{
    border: none;
    background: transparent;
    width: 80px;
}




/* ABA DE CARDS DE CURSOS */

.course-card a{
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    padding: 60px 0px;
    
}

.course-card img {
    transition: all ease 0.3s;
    width: 25%;
}

.course-card img:hover{
    transform: scale(1.1);
}

.course-card a{
    text-decoration: none;
    color: #000;
    font-weight: 500
}

/*RODAPÉ DA PÁGINA*/


footer div {
    color: #ddd;
    
}

footer a {
    text-decoration: none;
    color: #ddd;
}



